---
podAnnotations:
  backup.velero.io/backup-volumes: nextcloud-data

persistence:
  enabled: true
  existingClaim: nextcloud-data

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: external
    external-dns.alpha.kubernetes.io/target: cname--ext.{{ index (datasource "cluster-vars").domains 0 }}
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    cert-manager.io/cluster-issuer: letsencrypt-production
  tls:
  - secretName: tls.nextcloud
    hosts:
    - cloud.{{ index (datasource "cluster-vars").domains 2 }}

resources:
  requests:
    cpu: "0.01"
    memory: "305M"
  limits:
    memory: "512M"

nextcloud:
    host: cloud.{{ index (datasource "cluster-vars").domains 2 }}
    username: {{ (datasource "nextcloud").auth.username }}
    password: {{ (datasource "nextcloud").auth.password }}
