cluster-2-cp1.cluster-2.elcarpenter.com.yaml
cluster-2-cp2.cluster-2.elcarpenter.com.yaml
cluster-2-cp3.cluster-2.elcarpenter.com.yaml
cluster-2-work1.cluster-2.elcarpenter.com.yaml
cluster-2-work2.cluster-2.elcarpenter.com.yaml
cluster-2-work3.cluster-2.elcarpenter.com.yaml
talosconfig
cluster-2-work4.cluster-2.elcarpenter.com.yaml
cluster-2-work5.cluster-2.elcarpenter.com.yaml
cluster-2-work6.cluster-2.elcarpenter.com.yaml
cluster-2-work7.cluster-2.elcarpenter.com.yaml
cluster-2-work8.cluster-2.elcarpenter.com.yaml
cluster-2-temp1.cluster-2.elcarpenter.com.yaml
cluster-2-temp2.cluster-2.elcarpenter.com.yaml
cluster-2-mon1.cluster-2.elcarpenter.com.yaml
cluster-2-temp3.cluster-2.elcarpenter.com.yaml
cluster-2-work20.cluster-2.elcarpenter.com.yaml
cluster-2-work30.cluster-2.elcarpenter.com.yaml
cluster-2-cm4-01.cluster-2.elcarpenter.com.yaml
cluster-2-n100-01.cluster-2.elcarpenter.com.yaml
cluster-2-n100-02.cluster-2.elcarpenter.com.yaml
cluster-2-cm4-02.cluster-2.elcarpenter.com.yaml
cluster-2-cm4-03.cluster-2.elcarpenter.com.yaml
