cluster-2-cp1.cluster-2.elcarpenter.com.yaml
cluster-2-cp2.cluster-2.elcarpenter.com.yaml
cluster-2-cp3.cluster-2.elcarpenter.com.yaml
cluster-2-work1.cluster-2.elcarpenter.com.yaml
cluster-2-work2.cluster-2.elcarpenter.com.yaml
cluster-2-work3.cluster-2.elcarpenter.com.yaml
talosconfig
