---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: series-cleanup-secrets
  namespace: media
data:
  TRAKT_CLIENT_ID: {{ (datasource "series-cleanup").trakt.client_id | base64.Encode }}
  TRAKT_CLIENT_SECRET: {{ (datasource "series-cleanup").trakt.client_secret | base64.Encode }}
