---
image:
  repository: marthoc/deconz
  tag: "amd64-2.05.80"

timezone: "Europe/Amsterdam"

zigbeeDevice:
  enabled: true
  hostPath: /dev/serial/by-id/usb-dresden_elektronik_ingenieurtechnik_GmbH_ConBee_II_DE2152916-if00

vnc:
  enabled: true
  password: {{ (datasource "deconz").vnc.password }}

securityContext:
  privileged: true

persistence:
  enabled: true
  size: 1Gi

service:
  httpPort: 80
  websocketPort: 8091
  vncPort: 5900
  type: LoadBalancer
  externalIPs:
    - 192.168.26.6
  externalTrafficPolicy: Local

ingress:
  enabled: false

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: feature.node.kubernetes.io/custom-conbee-ii
              operator: In
              values:
                - "true"
