---
qbittorrent:
  podAnnotations:
    configmap.reloader.stakater.com/reload: "qbittorrent-openvpn"
    secret.reloader.stakater.com/reload: "qbittorrent-openvpn"
    replicas-max: "1"

  env:
    TZ: "Europe/Amsterdam"
    PUID: "1031"
    PGID: "100"
    UMASK: "022"

  persistence:
    type: deployment
    config:
      enabled: true
      existingClaim: config-qbittorrent-0
    media:
      enabled: false

  btService:
    port: 24589

  ingress:
    enabled: true
    annotations:
      kubernetes.io/ingress.class: nginx
      cert-manager.io/cluster-issuer: bjws-lan-ca-issuer
    hosts:
      - host: qbittorrent.{{ (datasource "cluster-vars").domain.internal }}
        paths:
          - "/"
    tls:
      - secretName: tls.qbittorrent
        hosts:
          - qbittorrent.{{ (datasource "cluster-vars").domain.internal }}

  resources:
    requests:
      memory: "256M"
    limits:
      memory: "1024M"

  additionalVolumeMounts:
    - name: nas-media
      mountPath: "/data/nas-media"
    - mountPath: /shared
      name: shared
    - mountPath: /config/custom-cont-init.d
      name: custom-scripts

  openvpn:
    enabled: true

    image:
      repository: dperson/openvpn-client
      tag: amd64
      pullPolicy: Always

    vpnConf: {{- (datasource "qbittorrent").openvpn.config | strings.Indent 6 | printf " |\n%v" }}
    auth: {{- (datasource "qbittorrent").openvpn.auth | strings.Indent 6 | printf " |\n%v" }}

    scripts:
      up:  |-
        #!/bin/bash
        /etc/openvpn/up.sh
        echo "connected" > /shared/vpnstatus
      down:  |-
        #!/bin/bash
        /etc/openvpn/down.sh
        echo "disconnected" > /shared/vpnstatus

    env:
      FIREWALL: "\"on\""
      ROUTE_1: "\"{{ (datasource "cluster-vars").networks.k8s_cluster }}\""
      ROUTE_2: "\"{{ (datasource "cluster-vars").networks.k8s_services }}\""
      ROUTE_3: "\"{{ (datasource "cluster-vars").networks.management_lan }}\""
      VPNPORT_1: "\"24589\""

    additionalVolumeMounts:
      - mountPath: /shared
        name: shared

    livenessProbe:
      exec:
        command:
        - sh
        - -c
        - if [ $(curl -s https://am.i.mullvad.net/country) == "Belgium" ]; then exit 0; else exit $?; fi
      initialDelaySeconds: 30
      periodSeconds: 60
      failureThreshold: 1

  additionalVolumes:
    - name: nas-media
      persistentVolumeClaim:
        claimName: nfs-nas-media
    - name: shared
      emptyDir: {}
    - name: custom-scripts
      configMap:
        name: qbittorrent-custom-scripts
        defaultMode: 511
