---
defaultBackend:
  enabled: false

controller:
  ingressClass: internal

  config:
    ssl-protocols: "TLSv1.3 TLSv1.2"
    # Setting use-proxy-protocol to true will break the proxy
    use-proxy-protocol: "false"
    proxy-body-size: "100m"
    use-forwarded-headers: "true"

  extraEnvs:
    - name: TZ
      value: Europe/Amsterdam

  replicaCount: 2

  service:
    type: LoadBalancer
    externalIPs:
      - 10.1.10.1
    externalTrafficPolicy: Local
    annotations:
      external-dns.alpha.kubernetes.io/hostname: cname--int.{{ index (datasource "cluster-vars").domains 0 }}

  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchExpressions:
              - key: app.kubernetes.io/name
                operator: In
                values:
                  - ingress-nginx-internal
          topologyKey: "kubernetes.io/hostname"

  metrics:
    enabled: true
    serviceMonitor:
      enabled: true
      namespace: system-ingress
      namespaceSelector:
        any: true

  resources:
    requests:
      memory: 250Mi
      cpu: 25m
    limits:
      memory: 750Mi
