# Set up asdf-vm
IFS='' read -r -d '' asdf_tools <<"EOF"
python 3.11.2
EOF

if command -v asdf > /dev/null; then
  echo -n "${asdf_tools}" > .tool-versions
fi

# Use a virtualenv for Python
layout python3

# Ansible configuration
export ANSIBLE_HOST_KEY_CHECKING=False
