# Set up asdf-vm
asdf_tools="
python 3.10.4
"

if command -v asdf > /dev/null; then
  echo "${asdf_tools}" > .tool-versions
fi

# Use a virtualenv for Python
layout python3

# Ansible configuration
export ANSIBLE_HOST_KEY_CHECKING=False
