# Folders
ignore/
logs/
testing/

# Trash
.DS_Store
Thumbs.db

# Sops
.decrypted~*

# Terraform
## Local .terraform directories
**/.terraform/*

## .tfstate files
*.tfstate
*.tfstate.*

## terraform plan output
*tfplan*

# Other files
kubeconfig

# Talos clusterconfigs
infrastructure/talos/**/clusterconfig
