.gitattributes !filter !diff
kubeconfig filter=git-crypt diff=git-crypt
.secrets/** filter=git-crypt diff=git-crypt
.secrets/**/*.sample.yaml !filter !diff
ansible/hosts.yaml filter=git-crypt diff=git-crypt
ansible/vars.yaml filter=git-crypt diff=git-crypt
ansible/group_vars/* filter=git-crypt diff=git-crypt
ansible/group_vars/*.sample.yaml !filter !diff