.gitattributes !filter !diff
kubeconfig filter=git-crypt diff=git-crypt
.secrets/** filter=git-crypt diff=git-crypt
.secrets/**/*.sample.yaml !filter !diff
.secrets/sealedsecret-cert.pem !filter !diff
