.gitattributes !filter !diff
.secrets/** filter=git-crypt diff=git-crypt
.secrets/**/*.sample.yaml !filter !diff
ansible/inventory filter=git-crypt diff=git-crypt
ansible/vars.yaml filter=git-crypt diff=git-crypt