# Folders
ignore/
logs/
testing/

# Trash
.DS_Store
Thumbs.db

# Installed roles and collections
.ansible/

# Flux update
bin/flux

# Sops
.decrypted~*

# Terraform
## Local .terraform directories
**/.terraform/*

## .tfstate files
*.tfstate
*.tfstate.*

# terraform plan output
*tfplan*

# Other files
kubeconfig

# machineConfigs
k8s/talos/**/machineConfigs

# go-task
Taskfile.env
