# Folders
ignore/
logs/
testing/

# Trash
.DS_Store
Thumbs.db

# Installed roles and collections
.ansible/
ansible/roles/xanmanning.k3s

# Flux update
bin/flux

# Direnv
.direnv

# Sops
.decrypted~*

# Other files
kubeconfig

# Docker-Compose
integrations/docker-compose/*/.env
