---
apiVersion: v1
kind: Secret
type: kubernetes.io/tls
metadata:
  name: bjws-lan-ca-key-pair
  namespace: system-cert-manager
data:
  tls.crt: {{- (datasource "cert-manager").issuers.bjws_lan.crt | base64.Encode | printf " %v" }}
  tls.key: {{- (datasource "cert-manager").issuers.bjws_lan.key | base64.Encode | printf " %v" }}
