---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: velero-minio-b2-sync-config
  namespace: system-velero
stringData:
  rclone.conf: |
    [b2]
    type = b2
    account = {{ (datasource "velero-minio-b2-sync").b2.account }}
    key = {{ (datasource "velero-minio-b2-sync").b2.key }"
    hard_delete = true

    [minio]
    type = s3
    provider = Minio
    access_key_id = {{ (datasource "velero-minio-b2-sync").minio.access_key }}
    secret_access_key = {{ (datasource "velero-minio-b2-sync").minio.secret_key }}
    endpoint = https://minio.{{ index (datasource "cluster-vars").domains 0 }}

    [b2-velero-crypt]
    type = crypt
    remote = b2:{{ (datasource "velero-minio-b2-sync").b2.bucket }}
    password = {{ (datasource "velero-minio-b2-sync").b2.crypt.password }}
    password2 = {{ (datasource "velero-minio-b2-sync").b2.crypt.password2 }}
