kind: Secret
apiVersion: v1
type: secrets.kanister.io/aws
metadata:
  name: k10secret-minio
  namespace: system-kasten
data:
  aws_access_key_id: {{ (datasource "k10").minio.access_key }}
  aws_secret_access_key: {{ (datasource "k10").minio.secret_key }}
