---
eula:
  accept: true
  company: BJW-S
  email: {{ (datasource "cluster-vars").email.primary }}

clusterName: k8s

auth:
  k10AdminUsers:
  - {{ (datasource "k10").auth.user }}

  oidcAuth:
    enabled: true
    providerURL: https://dex.{{ index (datasource "cluster-vars").domains 0 }}
    redirectURL: https://k10.{{ index (datasource "cluster-vars").domains 0 }}
    scopes: "profile email"
    usernameClaim: "email"
    clientID: k10

ingress:
  create: true
  class: "internal"
  host: k10.{{ index (datasource "cluster-vars").domains 0 }}
  annotations:
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: cname--int.{{ index (datasource "cluster-vars").domains 0 }}
    nginx.ingress.kubernetes.io/app-root: /k10
  urlPath: k10
  hosts:
  - k10.{{ index (datasource "cluster-vars").domains 0 }}
  tls:
    enabled: true
    secretName: tls.k10
