---
podAnnotations:
  replicas-max: "1"
  backup.velero.io/backup-volumes: config

controllerType: deployment

podSecurityContext:
  runAsUser: 1031
  runAsGroup: 100
  fsGroup: 100

env:
  TZ: "Europe/Amsterdam"

persistence:
  config:
    enabled: true
    existingClaim: sonarr-config
  media:
    enabled: true
    existingClaim: nfs-nas-media
    mountPath: /data/nas-media

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: internal
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: cname--int.{{ index (datasource "cluster-vars").domains 0 }}
    nginx.ingress.kubernetes.io/auth-url: "https://auth.{{ index (datasource "cluster-vars").domains 0 }}/oauth2/auth?allowed-groups=Media"
    nginx.ingress.kubernetes.io/auth-signin: "https://auth.{{ index (datasource "cluster-vars").domains 0 }}/oauth2/start?rd=$escaped_request_uri"
  hosts:
    - host: sonarr.{{ index (datasource "cluster-vars").domains 0 }}
      paths:
        - path: /
  tls:
    - secretName: tls.sonarr
      hosts:
        - sonarr.{{ index (datasource "cluster-vars").domains 0 }}

resources:
  requests:
    cpu: "0.04"
    memory: "256M"
  limits:
    memory: "512M"
