---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: keycloak-env-values
  namespace: system-security
stringData:
  KEYCLOAK_USER: {{ (datasource "keycloak").admin.user }}
  KEYCLOAK_PASSWORD: {{ (datasource "keycloak").admin.password }}
