---
fullnameOverride: keycloak
nameOverride: keycloak

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: "external"
    external-dns.alpha.kubernetes.io/target: cname--ext.{{ index (datasource "cluster-vars").domains 0 }}
    cert-manager.io/cluster-issuer: letsencrypt-production
  rules:
  - host: sso.{{ index (datasource "cluster-vars").domains 0 }}
    paths:
      - /
  tls:
  - hosts:
    - sso.{{ index (datasource "cluster-vars").domains 0 }}
    secretName: tls.keycloak

resources: {}

replicas: 1

extraEnv: |
  - name: PROXY_ADDRESS_FORWARDING
    value: "true"

extraEnvFrom: |
  - secretRef:
      name: 'keycloak-env-values'

postgresql:
  enabled: true
  postgresqlUsername: {{ (datasource "keycloak").database.username }}
  postgresqlPassword: {{ (datasource "keycloak").database.password }}
  postgresqlDatabase: {{ (datasource "keycloak").database.database }}

serviceMonitor:
  enabled: true
prometheusRule:
  enabled: true
