{{ ansible_managed | comment }}
[Unit]
Description=KlipperScreen
After=moonraker.service
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User={{ansible_user}}
WorkingDirectory={{klipperscreen_install_path}}
Environment="KS_XCLIENT={{klipperscreen_venv_path}}/bin/python {{klipperscreen_install_path}}/screen.py"
ExecStart={{klipperscreen_startup_path}}

[Install]
WantedBy=multi-user.target
