---
podSecurityContext:
  supplementalGroups:
  - 44
  - 109
  - 65539

env:
  TZ: "Europe/Amsterdam"

service:
  type: LoadBalancer
  externalIPs:
  - 10.1.10.9
  externalTrafficPolicy: Local

ingress:
  enabled: true

  annotations:
    kubernetes.io/ingress.class: external
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: cname--ext.{{ index (datasource "cluster-vars").domains 0 }}
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
  hosts:
  - host: plex.{{ index (datasource "cluster-vars").domains 1 }}
    paths:
    - path: /
      pathType: Prefix
  tls:
    - secretName: tls.plex
      hosts:
        - plex.{{ index (datasource "cluster-vars").domains 1 }}

persistence:
  config:
    enabled: true
    existingClaim: plex-config

  transcode:
    enabled: true
    emptyDir:
      enabled: true
      medium: "Memory"

additionalVolumes:
- name: nfs-nas-media
  persistentVolumeClaim:
    claimName: nfs-nas-media

additionalVolumeMounts:
- name: nfs-nas-media
  mountPath: /storage/media
  readOnly: true

resources:
  requests:
    cpu: 35m
    memory: 1500Mi
    gpu.intel.com/i915: 1
  limits:
    gpu.intel.com/i915: 1
    memory: 8000Mi

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: feature.node.kubernetes.io/custom-intel-gpu
              operator: In
              values:
                - "true"
