network:
  version: 2
  ethernets:
    eno1:
      match:
        macaddress: "{{ hostvars[inventory_hostname]["ansible_default_ipv4"]["macaddress"] }}"
  vlans:
    eno1.10:
      id: 10
      link: eno1
      dhcp4: false
      dhcp6: false
      addresses:
      - {{ hostvars[inventory_hostname]["ansible_default_ipv4"]["address"] }}/24
      gateway4: {{ servers_ipv4_gateway }}
      nameservers:
        addresses:
        {% for dns in servers_ipv4_dns %}
        - {{ dns }}
        {% endfor %}
    eno1.40:
      id: 40
      link: eno1
      dhcp4: false
      dhcp6: false
