---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: home-assistant-ssh
  namespace: home-automation
data:
  id_rsa: {{ (datasource "home-assistant").git.identity | base64.Encode }}
  known_hosts: {{ (datasource "home-assistant").git.known_hosts | base64.Encode }}
