---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: home-assistant-secrets
  namespace: home-automation
data:
  SECRET_ADVERTISE_HOST: {{ (datasource "home-assistant").network.advertise_host | base64.Encode }}
  SECRET_INTERNAL_URL: {{ printf "http://%v:8123" (datasource "home-assistant").network.advertise_host | base64.Encode }}
  SECRET_EXTERNAL_URL: {{ printf "https://domo.%v" (index (datasource "cluster-vars").domains 1 ) | base64.Encode }}
  SECRET_TRUSTED_PROXIES_1: {{ (datasource "cluster-vars").networks.k8s_cluster | base64.Encode }}

  SECRET_NEST_PROJECT_ID: {{ (datasource "home-assistant").secrets.nest.project_id | base64.Encode }}
  SECRET_NEST_CLIENT_ID: {{ (datasource "home-assistant").secrets.nest.client_id | base64.Encode }}
  SECRET_NEST_CLIENT_SECRET: {{ (datasource "home-assistant").secrets.nest.client_secret | base64.Encode }}
  SECRET_NEST_SUBSCRIBER_ID: {{ (datasource "home-assistant").secrets.nest.subscriber_id | base64.Encode }}

  SECRET_HOME_CONNECT_CLIENT_ID: {{ (datasource "home-assistant").secrets.homeconnect.client_id | base64.Encode }}
  SECRET_HOME_CONNECT_CLIENT_SECRET: {{ (datasource "home-assistant").secrets.homeconnect.client_secret | base64.Encode }}

  SECRET_NETATMO_CLIENT_ID: {{ (datasource "home-assistant").secrets.netatmo.client_id | base64.Encode }}
  SECRET_NETATMO_CLIENT_SECRET: {{ (datasource "home-assistant").secrets.netatmo.client_secret | base64.Encode }}

  SECRET_DISCORD_BOT_TOKEN: {{ (datasource "home-assistant").secrets.discord.bot_token | base64.Encode }}
  SECRET_DISCORD_CHANNEL_NOTIFICATIONS: {{ (datasource "home-assistant").secrets.discord.channels.notifications | base64.Encode }}
  SECRET_DISCORD_CHANNEL_INFO: {{ (datasource "home-assistant").secrets.discord.channels.notifications | base64.Encode }}

  SECRET_SLACK_API_TOKEN: {{ (datasource "home-assistant").secrets.slack.api_token | base64.Encode }}
  SECRET_SLACK_API_BEARER_TOKEN: {{ printf "Bearer %v" (datasource "home-assistant").secrets.slack.api_token | base64.Encode }}

  SECRET_SONOS_PLAYER_1: {{ (datasource "home-assistant").secrets.sonos.player_1 | base64.Encode }}
  SECRET_SONOS_PLAYER_2: {{ (datasource "home-assistant").secrets.sonos.player_2 | base64.Encode }}
  SECRET_SONOS_PLAYER_3: {{ (datasource "home-assistant").secrets.sonos.player_3 | base64.Encode }}
  SECRET_SONOS_PLAYER_4: {{ (datasource "home-assistant").secrets.sonos.player_4 | base64.Encode }}
  SECRET_SONOS_PLAYER_5: {{ (datasource "home-assistant").secrets.sonos.player_5 | base64.Encode }}

  SECRET_CAMERA_FRONT_DOOR_IMAGE_URL: {{ printf "http://%v/Streaming/Channels/1/picture" (datasource "home-assistant").secrets.cameras.front_door.host | base64.Encode }}
  SECRET_CAMERA_FRONT_DOOR_STREAM_URL: {{ printf "rtsp://%v:%v@%v:554/Streaming/Channels/101/" (datasource "home-assistant").secrets.cameras.front_door.username (datasource "home-assistant").secrets.cameras.front_door.password (datasource "home-assistant").secrets.cameras.front_door.host | base64.Encode }}
  SECRET_CAMERA_FRONT_DOOR_IP: {{ (datasource "home-assistant").secrets.cameras.front_door.host | base64.Encode }}
  SECRET_CAMERA_FRONT_DOOR_USERNAME: {{ (datasource "home-assistant").secrets.cameras.front_door.username | base64.Encode }}
  SECRET_CAMERA_FRONT_DOOR_PASSWORD: {{ (datasource "home-assistant").secrets.cameras.front_door.password | base64.Encode }}

  SECRET_ZONE_HOME_HOUSE_NUMBER: {{ (datasource "home-assistant").secrets.zones.home.house_number | base64.Encode }}
  SECRET_ZONE_HOME_POSTAL_CODE: {{ (datasource "home-assistant").secrets.zones.home.postal_code | base64.Encode }}
  SECRET_ZONE_HOME_ELEVATION: {{ (datasource "home-assistant").secrets.zones.home.elevation | base64.Encode }}
  SECRET_ZONE_HOME_LATITUDE: {{ (datasource "home-assistant").secrets.zones.home.latitude | base64.Encode }}
  SECRET_ZONE_HOME_LONGITUDE: {{ (datasource "home-assistant").secrets.zones.home.longitude | base64.Encode }}

  SECRET_LG_TV_HOST: {{ (datasource "home-assistant").secrets.lg_tv.host | base64.Encode }}

  SECRET_NVIDIA_SHIELD_HOST: {{ (datasource "home-assistant").secrets.nvidia_shield.host | base64.Encode }}

  SECRET_RECORDER_DB_URL: {{ printf "postgresql://%v:%v@home-assistant-postgresql:5432/%v" (datasource "home-assistant").database.username (datasource "home-assistant").database.password (datasource "home-assistant").database.database | base64.Encode }}
