---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: mailbackup-secrets
  namespace: scripts
data:
  getmailrc_2020: {{- (datasource "mailbackup").config.getmailrc_2020 | base64.Encode | printf " %v" }}
