---
timezone: Europe/Amsterdam
puid: 1031
pgid: 100

dockerMods:
  ebookConversion:
    enabled: true

persistence:
  config:
    enabled: true
    existingClaim: calibre-web-config
  books:
    enabled: false
  extraExistingClaimMounts:
    - name: external-mount
      mountPath: /storage/media
      existingClaim: nfs-nas-media

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: internal
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: _cname_int.{{ index (datasource "cluster-vars").domains 0 }}
  path: "/"

  hosts:
    - calibre.{{ index (datasource "cluster-vars").domains 0 }}

  tls:
    - secretName: tls.calibre
      hosts:
        - calibre.{{ index (datasource "cluster-vars").domains 0 }}

resources:
  requests:
    memory: "512M"
  limits:
    memory: "1024M"
