---
podAnnotations:
  backup.velero.io/backup-volumes: unifi-data

timezone: Europe/Amsterdam

persistence:
  enabled: true
  existingClaim: unifi-data

guiService:
  type: LoadBalancer
  annotations:
    external-dns.alpha.kubernetes.io/hostname: unifi
  externalIPs:
    - 10.1.10.11
  externalTrafficPolicy: Local

controllerService:
  type: LoadBalancer
  externalIPs:
    - 10.1.10.11
  externalTrafficPolicy: Local

stunService:
  type: LoadBalancer
  externalIPs:
    - 10.1.10.11
  externalTrafficPolicy: Local

discoveryService:
  type: LoadBalancer
  externalIPs:
    - 10.1.10.11
  externalTrafficPolicy: Local

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: internal
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: cname--int.{{ index (datasource "cluster-vars").domains 0 }}
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
  hosts:
    - unifi.{{ index (datasource "cluster-vars").domains 0 }}
  tls:
    - secretName: tls.unifi-controller
      hosts:
        - unifi.{{ index (datasource "cluster-vars").domains 0 }}

resources:
  requests:
    cpu: "0.02"
    memory: "1024M"
  limits:
    memory: "1536M"
