---
image:
  repository: hon95/prometheus-nut-exporter
  tag: 1.0.1

env:
  TZ: Europe/Amsterdam

serviceMonitor:
  enabled: true
  targets:
    - hostname: nut-server-study.home-network
      port: 3493
    - hostname: nut-server-hallway.home-network
      port: 3493
