---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: vernemq-secrets
  namespace: home-network
data:
  vmq.acl: {{- (datasource "vernemq").acl | base64.Encode | printf " %v" }}
  vmq.passwd: {{- (datasource "vernemq").passwd | base64.Encode | printf " %v" }}
