---
configuration:
  slackChannel: {{ (datasource "kured").slack.channel }}
  slackHookUrl: {{ (datasource "kured").slack.hook_url }}
  slackUsername: {{ (datasource "kured").slack.username }}
  startTime: "2:00"
  endTime: "6:00"

service:
  create: true

metrics:
  create: true
