---
sources:
  - service
  - ingress
provider: coredns
policy: sync
txtPrefix: "k8s."

coredns:
  etcdEndpoints: "http://etcd.home-network:2379"

domainFilters:
- {{ index (datasource "cluster-vars").domains 0 }}
- {{ index (datasource "cluster-vars").domains 1 }}
- {{ index (datasource "cluster-vars").domains 2 }}
- unifi

resources:
  requests:
    memory: "32M"
  limits:
    memory: "64M"
