{{ ansible_managed | comment }}
[Unit]
Description=Starts Klipper and provides klippy Unix Domain Socket API
Documentation=https://www.klipper3d.org/
After=network.target
Before=moonraker.service
Wants=udev.target

[Install]
Alias=klippy
WantedBy=multi-user.target

[Service]
Environment=KLIPPER_CONFIG={{klipper_config_folder}}/printer.cfg
Environment=KLIPPER_LOG={{klipper_logs_folder}}/klippy.log
Environment=KLIPPER_SOCKET=/tmp/klippy_uds
Type=simple
User={{ansible_user}}
RemainAfterExit=yes
ExecStart= {{klipper_venv_path}}/bin/python {{klipper_install_path}}/klippy/klippy.py ${KLIPPER_CONFIG} -l ${KLIPPER_LOG} -a ${KLIPPER_SOCKET}
Restart=always
RestartSec=10
