---
podAnnotations:
  secret.reloader.stakater.com/reload: "tls.plex"
  replicas-max: "1"

ingress:
  enabled: false

advertiseIp: "https://192.168.26.9:32400"
claimToken: {{ (datasource "plex").claimToken }}

timezone: "Europe/Amsterdam"
plexUid: 1031
plexGid: 100

serviceTCP:
  type: LoadBalancer
  externalIPs:
    - 192.168.26.9
  externalTrafficPolicy: Local

serviceUDP:
  type: LoadBalancer
  externalIPs:
    - 192.168.26.9
  externalTrafficPolicy: Local

persistence:
  config:
    size: 20Gi
    accessMode: ReadWriteOnce

  transcode:
    enabled: false
    emptyDir:
      medium: "Memory"

  data:
    enabled: false

  extraMounts:
    - name: nfs-nas-media
      claimName: nfs-nas-media
      mountPath: /storage/media

resources:
  requests:
    cpu: 35m
    memory: 1500Mi
  limits:
    gpu.intel.com/i915: 1
    memory: 8000Mi

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: feature.node.kubernetes.io/custom-intel-gpu
              operator: In
              values:
                - "true"
