---
enableProjects: "true"
timezone: "Europe/Amsterdam"

extraEnvs:
  - name: ADMIN_AUTH_USER
    value: "{{ (datasource "node-red").auth.admin.user }}"
  - name: ADMIN_AUTH_PASS
    value: "{{ (datasource "node-red").auth.admin.password }}"
  - name: CREDENTIAL_SECRET
    value: "{{ (datasource "node-red").credential_secret }}"

persistence:
  enabled: true
  existingClaim: node-red-data

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: external
    external-dns.alpha.kubernetes.io/target: cname--ext.{{ index (datasource "cluster-vars").domains 0 }}
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    cert-manager.io/cluster-issuer: letsencrypt-production

  hosts:
    - nodered.{{ index (datasource "cluster-vars").domains 1 }}
    - nodered.{{ index (datasource "cluster-vars").domains 2 }}

  tls:
    - secretName: tls.node-red
      hosts:
        - nodered.{{ index (datasource "cluster-vars").domains 1 }}
        - nodered.{{ index (datasource "cluster-vars").domains 2 }}

resources:
  requests:
    memory: "256M"
  limits:
    memory: "1024M"
