---
ingress:
  enabled: true

  annotations:
    kubernetes.io/ingress.class: internal
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: cname--int.{{ index (datasource "cluster-vars").domains 0 }}

  hosts:
    - host: echo-server.{{ index (datasource "cluster-vars").domains 0 }}
      paths:
        - "/"

  tls:
    - secretName: tls.echo-server
      hosts:
        - echo-server.{{ index (datasource "cluster-vars").domains 0 }}
