{{ ansible_managed | comment }}
[moonraker permissions]
Identity=unix-user:{{ansible_user}}
Action=org.freedesktop.systemd1.manage-units;org.freedesktop.login1.power-off;org.freedesktop.login1.power-off-multiple-sessions;org.freedesktop.login1.reboot;org.freedesktop.login1.reboot-multiple-sessions;org.freedesktop.packagekit.*
ResultAny=yes
