{{ ansible_managed | comment }}
[Unit]
Description=API Server for Klipper
Requires=network-online.target
After=network-online.target

[Install]
WantedBy=multi-user.target

[Service]
Type=simple
SupplementaryGroups=moonraker-admin
User={{ansible_user}}
RemainAfterExit=yes
WorkingDirectory={{moonraker_install_path}}
ExecStart={{moonraker_venv_path}}/bin/python {{moonraker_install_path}}/moonraker/moonraker.py -c {{klipper_config_folder}}/moonraker.conf -l {{klipper_logs_folder}}/moonraker.log
Restart=always
RestartSec=10
