---
env:
  TZ: "Europe/Amsterdam"

persistence:
  config:
    enabled: true
    existingClaim: baikal-config
  data:
    enabled: true
    existingClaim: baikal-data

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: external
    external-dns.alpha.kubernetes.io/target: cname--ext.{{ index (datasource "cluster-vars").domains 0 }}
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    cert-manager.io/cluster-issuer: letsencrypt-production
  hosts:
    - host: dav.{{ index (datasource "cluster-vars").domains 2 }}
      paths:
        - path: /
  tls:
    - secretName: tls.baikal
      hosts:
        - dav.{{ index (datasource "cluster-vars").domains 2 }}

resources: {}
