---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: controller-manager
  namespace: actions-runner-system
data:
  github_token: {{ (datasource "actions-runner-system").github.token | base64.Encode }}
