---
sources:
  - ingress

provider: cloudflare
policy: sync
txtPrefix: "k8s."

cloudflare:
  apiToken: {{ (datasource "cluster-vars").cloudflare.apitoken }}
  proxied: true

domainFilters:
  - {{ index (datasource "cluster-vars").domains 0 }}
  - {{ index (datasource "cluster-vars").domains 1 }}
  - {{ index (datasource "cluster-vars").domains 2 }}

annotationFilter: "kubernetes.io/ingress.class=external"

resources:
  requests:
    memory: "32M"
  limits:
    memory: "64M"
