{
  "storage": {
    "type": "b2",
    "config": {
      "bucket": "{{ .kopia_b2_bucket }}",
      "keyID": "{{ .b2_kopia_app_key_id }}",
      "key": "{{ .b2_kopia_app_key }}"
    }
  },
  "caching": {
    "cacheDirectory": "/app/cache",
    "maxCacheSize": 5242880000,
    "maxMetadataCacheSize": 5242880000,
    "maxListCacheDuration": 30
  },
  "hostname": "gladius.bjw-s.casa",
  "description": "gladius",
  "enableActions": false,
  "formatBlobCacheDuration": 900000000000
}
