cluster-1-cp1.cluster-1.elcarpenter.com.yaml
cluster-1-cp2.cluster-1.elcarpenter.com.yaml
cluster-1-cp3.cluster-1.elcarpenter.com.yaml
cluster-1-work1.cluster-1.elcarpenter.com.yaml
cluster-1-work2.cluster-1.elcarpenter.com.yaml
cluster-1-work3.cluster-1.elcarpenter.com.yaml
cluster-1-work4.cluster-1.elcarpenter.com.yaml
talosconfig
cluster-1-work5.cluster-1.elcarpenter.com.yaml
cluster-1-work3.yaml
