---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-staging
spec:
  acme:
    email: {{ (datasource "cluster-vars").email.postmaster }}
    preferredChain: ""
    privateKeySecretRef:
      name: letsencrypt-staging
    server: https://acme-staging-v02.api.letsencrypt.org/directory
    solvers:
    - dns01:
        cloudflare:
          apiKeySecretRef:
            key: api_key
            name: cloudflare-api-key-secret
          email: {{ (datasource "cluster-vars").email.primary }}
      selector:
        dnsZones:
        - {{ index (datasource "cluster-vars").domains 0 }}
        - {{ index (datasource "cluster-vars").domains 1 }}
        - {{ index (datasource "cluster-vars").domains 2 }}
---
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-production
spec:
  acme:
    email: {{ (datasource "cluster-vars").email.postmaster }}
    preferredChain: ""
    privateKeySecretRef:
      name: letsencrypt-production
    server: https://acme-v02.api.letsencrypt.org/directory
    solvers:
    - dns01:
        cloudflare:
          apiKeySecretRef:
            key: api_key
            name: cloudflare-api-key-secret
          email: {{ (datasource "cluster-vars").email.primary }}
      selector:
        dnsZones:
        - {{ index (datasource "cluster-vars").domains 0 }}
        - {{ index (datasource "cluster-vars").domains 1 }}
        - {{ index (datasource "cluster-vars").domains 2 }}
