---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: cloudflare-api-key-secret
  namespace: system-cert-manager
data:
  api_key: {{- (datasource "cluster-vars").cloudflare.apikey | base64.Encode | printf " %v" }}
