---
machine:
  install:
    diskSelector:
      model: Samsung SSD 870
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: delta
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "igc" && mac(link.permanent_addr).startsWith("48:21:0b:55:")
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: delta-enigma
selector:
    match: link.driver == "thunderbolt-net" && link.bus_path == "1-1.0"
---
apiVersion: v1alpha1
kind: LinkConfig
name: delta-enigma
up: true
mtu: 65520
addresses:
  - address: 169.254.255.21/32
routes:
  - destination: 169.254.255.22/32
    metric: 2048
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: delta-felix
selector:
    match: link.driver == "thunderbolt-net" && link.bus_path == "0-1.0"
---
apiVersion: v1alpha1
kind: LinkConfig
name: delta-felix
up: true
mtu: 65520
addresses:
  - address: 169.254.255.21/32
routes:
  - destination: 169.254.255.23/32
    metric: 2048
