---
machine:
  install:
    diskSelector:
      model: Samsung SSD 870
  network:
    hostname: felix.bjw-s.internal
    interfaces:
      - # delta
        deviceSelector:
          busPath: 0-1.0
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.23/32
        routes:
          - network: 169.254.255.21/32
            metric: 2048
      - # enigma
        deviceSelector:
          busPath: 1-1.0
        dhcp: false
        mtu: 65520
        addresses:
          - 169.254.255.23/32
        routes:
          - network: 169.254.255.22/32
            metric: 2048
  nodeLabels:
    node.kubernetes.io/gpu: "true"
  type: controlplane
