---
machine:
  install:
    diskSelector:
      model: Samsung SSD 870
  type: controlplane
---
apiVersion: v1alpha1
kind: HostnameConfig
hostname: felix
---
apiVersion: v1alpha1
kind: LinkAliasConfig
name: net0
selector:
    match: link.driver == "igc" && mac(link.permanent_addr).startsWith("48:21:0b:56:")
