---
podAnnotations:
  backup.velero.io/backup-volumes: data

env:
  TZ: "Europe/Amsterdam"

probes:
  liveness:
    enabled: false
  readiness:
    enabled: false

persistence:
  data:
    enabled: true
    existingClaim: octoprint-data

securityContext:
  privileged: true

additionalVolumeMounts:
  - name: usb
    mountPath: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

additionalVolumes:
  - name: usb
    hostPath:
      path: /dev/serial/by-id//dev/serial/by-id/usb-1a86_USB_Serial-if00-port0

affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
      - matchExpressions:
        - {key: "kubernetes.io/hostname", operator: In, values: ["kubeprint"]}

tolerations:
- key: "arm"
  operator: "Exists"

ingress:
  enabled: true

  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: bjws-lan-ca-issuer

  hosts:
    - host: octoprint.{{ (datasource "cluster-vars").domain.internal }}
      paths:
        - path: /

  tls:
    - secretName: tls.octoprint
      hosts:
        - octoprint.{{ (datasource "cluster-vars").domain.internal }}
