---
replicaCount: 1

auth:
  rbac:
    enabled: false

persistence:
  storageClass: rook-ceph-block
  enabled: true

service:
  type: LoadBalancer
  annotations:
    external-dns.alpha.kubernetes.io/hostname: etcd.{{ index (datasource "cluster-vars").domains 0 }}
  externalIPs:
    - 10.1.10.7
  externalTrafficPolicy: Local

metrics:
  enabled: true
  serviceMonitor:
    enabled: true

resources:
  requests:
    memory: 250Mi
    cpu: 50m
  limits:
    memory: 500Mi
    cpu: 1000m
