(common) {
  errors
  log error
  reload
  loadbalance
  cache
  loop
  local

  prometheus :9153

  health {
    lameduck 5s
  }
}

(local_hosts) {
  hosts /config/hosts {
    ttl 1
    reload 5s
    fallthrough bjw-s.dev
  }
}

(k8s_gateway) {
  forward . 10.45.0.3:53
}

unifi {
  import common
  import local_hosts
}

bjw-s.dev {
  import common
  import local_hosts
  import k8s_gateway
}

bjw-s.tech {
  import common
  import local_hosts
}
