# Private key and peer public key are read from 1Password by Ansible.
[Interface]
Address = 10.254.41.1/30
ListenPort = 51821
PrivateKey = {{ wg_icarus_private_key }}

[Peer]
PublicKey = {{ wg_janus_public_key }}
AllowedIPs = 10.254.41.2/32, 10.1.6.41/32
