{{ ansible_managed | comment }}
[Unit]
Description=crowsnest - Multi Webcam/Streamer Control Deamon
Documentation=https://github.com/mainsail-crew/crowsnest
After=udev.service network-online.target nss-lookup.target
Wants=udev.service network-online.target
Before=nginx.service
StartLimitBurst=10
StartLimitIntervalSec=180

[Install]
WantedBy=multi-user.target

[Service]
Environment=CROWSNEST_CONFIG={{klipper_config_folder}}/crowsnest.conf
Type=exec
User={{ansible_user}}
RemainAfterExit=Yes
ExecStart= /usr/local/bin/crowsnest -c ${CROWSNEST_CONFIG}
Restart=on-failure
RestartSec=5
