---
controllerType: deployment

# podSecurityContext:
#   supplementalGroups:
#   - 65539

nameOverride: "deemix"

service:
  port:
    port: 6595

env:
  TZ: "Europe/Amsterdam"
  PUID: 1031
  PGID: 65539
  ARL: {{ (datasource "deemix").deezer.cookie }}
  DEEZUI: "false"
  UMASK_SET: "022"

persistence:
  config:
    enabled: true
    existingClaim: deemix-config
  media:
    enabled: true
    existingClaim: nfs-nas-media
    mountPath: /data/nas-media

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: internal
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: cname--int.{{ index (datasource "cluster-vars").domains 0 }}
    nginx.ingress.kubernetes.io/auth-url: "https://auth.{{ index (datasource "cluster-vars").domains 0 }}/oauth2/auth?allowed_groups=/deemix"
    nginx.ingress.kubernetes.io/auth-signin: "https://auth.{{ index (datasource "cluster-vars").domains 0 }}/oauth2/start"
  hosts:
    - host: deemix.{{ index (datasource "cluster-vars").domains 0 }}
      paths:
        - path: /
  tls:
    - secretName: tls.deemix
      hosts:
        - deemix.{{ index (datasource "cluster-vars").domains 0 }}

resources: {}
