---
replicaCount: 1

ingress:
  enabled: true
  path: /oauth2
  annotations:
    kubernetes.io/ingress.class: "external"
    external-dns.alpha.kubernetes.io/target: cname--ext.{{ index (datasource "cluster-vars").domains 0 }}
    cert-manager.io/cluster-issuer: letsencrypt-production
  hosts:
  - auth.{{ index (datasource "cluster-vars").domains 0 }}
  tls:
  - secretName: tls.oauth2-proxy
    hosts:
    - auth.{{ index (datasource "cluster-vars").domains 0 }}

config:
  clientID: "{{ (datasource "oauth2-proxy").auth0.client_id }}"
  clientSecret: "{{ (datasource "oauth2-proxy").auth0.client_secret }}"
  cookieSecret: "{{ (datasource "oauth2-proxy").config.cookie_secret }}"

extraArgs:
  provider: keycloak
  provider-display-name: "Keycloak"

  login-url: "https://keycloak.{{ index (datasource "cluster-vars").domains 0 }}/auth/realms/BJW-S/protocol/openid-connect/auth"
  redeem-url: "https://keycloak.{{ index (datasource "cluster-vars").domains 0 }}/auth/realms/BJW-S/protocol/openid-connect/token"
  profile-url: "https://keycloak.{{ index (datasource "cluster-vars").domains 0 }}/auth/realms/BJW-S/protocol/openid-connect/userinfo"
  validate-url: "https://keycloak.{{ index (datasource "cluster-vars").domains 0 }}/auth/realms/BJW-S/protocol/openid-connect/userinfo"

  skip-provider-button:
  pass-authorization-header:

  email-domain: "*"
  cookie-domain: ".{{ index (datasource "cluster-vars").domains 0 }}"
  whitelist-domain: ".{{ index (datasource "cluster-vars").domains 0 }}"
