---
controllerType: deployment

podAnnotations:
  configmap.reloader.stakater.com/reload: "jackett-vpn"
  backup.velero.io/backup-volumes: config
  replicas-max: "1"

service:
  port:
    port: 9117

env:
  TZ: "Europe/Amsterdam"
  WAIT_FOR_VPN: "true"

persistence:
  config:
    enabled: true
    existingClaim: jackett-config
  shared:
    enabled: true
    emptyDir:
      enabled: true

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: internal
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: cname--int.{{ index (datasource "cluster-vars").domains 0 }}
  hosts:
    - host: jackett.{{ index (datasource "cluster-vars").domains 0 }}
      paths:
        - path: /
  tls:
    - secretName: tls.jackett
      hosts:
        - jackett.{{ index (datasource "cluster-vars").domains 0 }}

resources:
  requests:
    cpu: "0.02"
    memory: "256M"
  limits:
    memory: "512M"

addons:
  vpn:
    enabled: true
    type: wireguard

    env:
      TZ: "Europe/Amsterdam"
      IPTABLES_BACKEND: legacy
      KILLSWITCH: "true"
      KILLSWITCH_EXCLUDEDNETWORKS_IPV4: {{ (datasource "cluster-vars").networks.k8s_cluster }};{{ (datasource "cluster-vars").networks.k8s_services }};{{ (datasource "cluster-vars").networks.management_lan }}

    configFile: {{- (datasource "jackett").vpn.config | strings.Indent 6 | printf " |\n%v" }}
    scripts:
      up:  |-
        #!/bin/bash
        echo "connected" > /shared/vpnstatus

      down:  |-
        #!/bin/bash
        echo "disconnected" > /shared/vpnstatus

    resources:
      requests:
        cpu: "0.001"
        memory: 128Mi
      limits:
        memory: 512Mi
