---
podAnnotations:
  backup.velero.io/backup-volumes: unifi-data

timezone: Europe/Amsterdam

persistence:
  enabled: true
  size: 2Gi

guiService:
  type: LoadBalancer
  externalIPs:
    - 192.168.26.3
  externalTrafficPolicy: Local

controllerService:
  type: LoadBalancer
  externalIPs:
    - 192.168.26.3
  externalTrafficPolicy: Local

stunService:
  type: LoadBalancer
  externalIPs:
    - 192.168.26.3
  externalTrafficPolicy: Local

discoveryService:
  type: LoadBalancer
  externalIPs:
    - 192.168.26.3
  externalTrafficPolicy: Local

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: bjws-lan-ca-issuer
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
  hosts:
    - unifi.{{ (datasource "cluster-vars").domain.internal }}
  tls:
    - secretName: tls.unifi-controller
      hosts:
        - unifi.{{ (datasource "cluster-vars").domain.internal }}

resources:
  requests:
    memory: "512M"
  limits:
    memory: "1024M"