---
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: grafana-secrets
  namespace: system-monitoring
stringData:
  adminUser: {{ (datasource "grafana").admin.user }}
  adminPass: {{ (datasource "grafana").admin.password }}
