---
affinity:
  nodeAffinity:
    requiredDuringSchedulingIgnoredDuringExecution:
      nodeSelectorTerms:
        - matchExpressions:
            - key: feature.node.kubernetes.io/custom-coral-tpu
              operator: In
              values:
                - "true"
            - key: feature.node.kubernetes.io/custom-intel-gpu
              operator: In
              values:
                - "true"

podAnnotations:
  configmap.reloader.stakater.com/reload: "frigate"

timezone: Europe/Amsterdam

coral:
  enabled: true

extraVolumes:
- name: frigate-media
  persistentVolumeClaim:
    claimName: nfs-nas-frigate-data

extraVolumeMounts:
- name: frigate-media
  mountPath: /media

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: internal
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: cname--int.{{ index (datasource "cluster-vars").domains 0 }}
  hosts:
    - frigate.{{ index (datasource "cluster-vars").domains 0 }}
  tls:
    - hosts:
        - frigate.{{ index (datasource "cluster-vars").domains 0 }}
      secretName: tls.frigate

config: |
  mqtt:
    host: {{ (datasource "frigate").mqtt.host }}
    port: 1883
    topic_prefix: frigate
    user: {{ (datasource "frigate").mqtt.user }}
    password: {{ (datasource "frigate").mqtt.password }}

  detectors:
    coral:
      type: edgetpu
      device: usb

  objects:
    track:
      - person
    filters:
      person:
        min_area: 5000
        max_area: 100000
        threshold: 0.5

  ffmpeg:
    hwaccel_args:
      - -hwaccel
      - qsv
      - -qsv_device
      - /dev/dri/renderD128

  cameras:
    frontdoor:
      ffmpeg:
        inputs:
          - path: {{ (datasource "frigate").cameras.frontdoor.substream_url }}
            roles:
              - detect
          - path: {{ (datasource "frigate").cameras.frontdoor.main_url }}
            roles:
              - clips
              - record
              - rtmp

      width: 640
      height: 360
      fps: 6

      clips:
        enabled: True
        objects:
          - person
        retain:
          # Required: Default retention days (default: shown below)
          default: 14

      snapshots:
        enabled: True
        timestamp: True
        retain:
          # Required: Default retention days (default: shown below)
          default: 14

      motion:
        mask:
          - 0,182,36,179,125,158,118,0,0,0

      objects:
        track:
          - person
        filters:
          person:
            min_area: 5000
            max_area: 100000
            threshold: 0.5

resources:
  requests:
    memory: 1000Mi
    cpu: 750m
    gpu.intel.com/i915: 1
  limits:
    gpu.intel.com/i915: 1
    memory: 4000Mi
