---
ingress:
  enabled: true

  annotations:
    kubernetes.io/ingress.class: nginx
    cert-manager.io/cluster-issuer: bjws-lan-ca-issuer

  hosts:
    - host: echo-server.{{ (datasource "cluster-vars").domain.internal }}
      paths:
        - "/"

  tls:
    - secretName: tls.echo-server
      hosts:
        - echo-server.{{ (datasource "cluster-vars").domain.internal }}
