---
controllerType: deployment

podSecurityContext:
  supplementalGroups:
  - 65539

env:
  TZ: "Europe/Amsterdam"

persistence:
  config:
    enabled: true
    existingClaim: nzbget-config
  media:
    enabled: true
    existingClaim: nfs-nas-media
    mountPath: /data/nas-media

ingress:
  enabled: true
  annotations:
    kubernetes.io/ingress.class: internal
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: cname--int.{{ index (datasource "cluster-vars").domains 0 }}
  hosts:
    - host: nzbget.{{ index (datasource "cluster-vars").domains 0 }}
      paths:
        - path: /
  tls:
    - secretName: tls.nzbget
      hosts:
        - nzbget.{{ index (datasource "cluster-vars").domains 0 }}

resources:
  requests:
    memory: "128M"
  limits:
    memory: "512M"
