---
podSecurityContext:
  runAsUser: 2000
  runAsGroup: 2000
  supplementalGroups:
  - 65540

env:
  TZ: "Europe/Amsterdam"
  JAVA_OPTS: "-Xmx1024m"

enableServiceLinks: false

persistence:
  config:
    enabled: true
    existingClaim: airsonic-config
    mountPath: /var/airsonic

additionalVolumeMounts:
- name: nas-media
  mountPath: /storage/nas-media

additionalVolumes:
- name: nas-media
  persistentVolumeClaim:
    claimName: nfs-nas-media

ingress:
  enabled: true

  annotations:
    kubernetes.io/ingress.class: external
    cert-manager.io/cluster-issuer: letsencrypt-production
    external-dns.alpha.kubernetes.io/target: cname--ext.{{ index (datasource "cluster-vars").domains 0 }}
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"

  hosts:
  - host: airsonic.{{ index (datasource "cluster-vars").domains 0 }}
    paths:
    - path: /

  tls:
  - secretName: tls.airsonic
    hosts:
    - airsonic.{{ index (datasource "cluster-vars").domains 0 }}

resources:
  requests:
    memory: "512M"
  limits:
    memory: "1024M"
